* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url('bbg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.top-panel {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  width: 100vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 10;
}
.top-panel p1 {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  color: white;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}

.top-panel p2 {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  color: white;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}

.top-icons {
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem 0 0;
}
.top-icons a {
  color: white;
}


/*PASSWORD VALIDATOR*/

.container {
  position: relative;
  background-color: white;
  box-shadow: 0px 4px 8px #000000;
  border-radius: 1rem;
  height: 17rem;
  width: 90%;
  padding: 0.5rem 2rem 0 2rem;
  margin-top: 9rem;
  margin-bottom: 9rem;
  display: block;
}
#container-header {
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 1.7rem;
}
#screen {
  border: 0.08rem solid #4840A0;
  border-radius: 1rem;
  text-align: center;
  color: gray;
  padding: 0.8rem;
  width: auto;
  margin-bottom: 1rem;
}
#input-section input {
  width: 89%;
  padding: 0.8rem;
  border-radius: 1rem 0 0 1rem;
  border: 0.08rem solid #4840A0;
  outline: none;
}

#input-section i {
  color: white;
  width: 10%;
  position: fixed;
  z-index: 1;
  align-self: center;
  background-color: #4840A0;
  padding: 0.855rem 0.9rem 0.858rem 0.4rem;
  border-radius: 0 17px 17px 0;
}

#copy {
  width: 100%;
  padding: 0.4rem;
  border: 0.09rem solid #4840A0;
  border-radius: 1rem;
  outline: none;
  background-color: white;
}
#copy:hover {
  background-color: #C5CAE9;
}
#copy i {
  padding-right: 0.2rem;
}

#page-2 {
  width: 100%;
  padding: 0.4rem;
  border: 0.09rem solid #4840A0;
  border-radius: 1rem;
  outline: none;
  background-color: white;
  margin-top: 0.5rem;
}
#page-2:hover {
  background-color: #C5CAE9;
}
#page-2 i {
  padding-right: 0.2rem;
}



/*PASSWORD GENERATOR*/

.container-2 {
  position: relative;
  background-color: white;
  box-shadow: 0px 4px 8px #000000;
  border-radius: 1rem;
  height: 17rem;
  width: 90%;
  padding: 1.5rem;
  /*text-align: center;*/
  margin-top: 9rem;
  margin-bottom: 9rem;
  display: none;
}
#container-header-2 {
  text-align: center;
  margin-bottom: 2rem
}
#screen-2 {
  border: 0.08rem solid #4840A0;
  border-radius: 1rem;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  outline: none;
  margin-bottom: 1rem;
}


#generate {
  width: 100%;
  padding: 0.4rem;
  border: 0.09rem solid #4840A0;
  border-radius: 1rem;
  outline: none;
  background-color: white;
  margin-top: 0.5rem;
}
#generate:hover {
  background-color: #C5CAE9;
}
#generate i {
  padding-right: 0.2rem;
}

#copy-2 {
  width: 100%;
  padding: 0.4rem;
  border: 0.09rem solid #4840A0;
  border-radius: 1rem;
  outline: none;
  background-color: white;
  margin-top: 0.5rem;
}
#copy-2:hover {
  background-color: #C5CAE9;
}
#copy-2 i {
  padding-right: 0.2rem;
}
#page-1 {
  width: 100%;
  padding: 0.4rem;
  border: 0.09rem solid #4840A0;
  border-radius: 1rem;
  outline: none;
  background-color: white;
  margin-top: 0.5rem;
}
#page-1:hover {
  background-color: #C5CAE9;
}
#page-1 i {
  padding-right: 0.2rem;
}





/*FOOTER*/

.footer {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: white;
  backdrop-filter: blur(10px);
}
.footer a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}
.footer p {
  font-size: 0.9rem;
}