* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    border: 1px solid red;
    position: relative;
    background: linear-gradient(#FFA41E, #FF7C40);
}

header {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}