* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #E0E0E0;
}
#ball {
  top: 0px;
  left: 0px;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #6200EA;
  position: absolute;
}