:root {
    --red0: #FF5252;
    --red1: #FF1744;
    --green0: #69F0AE;
    --green1: #00C853;
    --blue0: #00CBFF;
    --blue1: #00AEFF;
    --white0: #EEEEEE;
    --white1: #FAFAFA;
    --gray0: #ccc;
    --gray1: gray;
    --dark0: #212121;
    --dark1: #000;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

@keyframes load-rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

@font-face {
    font-family: AdobeClean;
    src: url('../_Fonts/AdobeClean-Regular.woff2');
}
@font-face {
    font-family: BlissfulThink;
    src: url('../_Fonts/BlissfulThinking.woff2');
}
@font-face {
    font-family: ElementalEnd;
    src: url('../_Fonts/Elemental End.woff2');
}
@font-face {
    font-family: NeosansBold;
    src: url('../_Fonts/NeoSans-Bold.woff2');
}
@font-face {
    font-family: NunitoBold;
    src: url('../_Fonts/Nunito-Bold.woff2');
}
@font-face {
    font-family: NunitoLight;
    src: url('../_Fonts/Nunito-Light.woff2');
}
@font-face {
    font-family: NunitoMedium;
    src: url('../_Fonts/Nunito-Medium.woff2');
}
@font-face {
    font-family: NunitoRegular;
    src: url('../_Fonts/Nunito-Regular.woff2');
}
@font-face {
    font-family: PoppinsBold;
    src: url('../_Fonts/Poppins-Bold.woff2');
}
@font-face {
    font-family: PoppinsMedium;
    src: url('../_Fonts/Poppins-Medium.woff2');
}
@font-face {
    font-family: PoppinsSemiBold;
    src: url('../_Fonts/Poppins-SemiBold.woff2');
}
@font-face {
    font-family: VarelaRound;
    src: url('../_Fonts/VarelaRound-Regular.woff2');
}

#body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    overflow-y: hidden;
    flex-direction: column;
    background: #000037;
}

#loader {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #000037;
}
#loader svg {
    animation: load-rotate 1.5s ease infinite;
}
#loader p {
    font-size: 10px;
    font-family: ElementalEnd;
    color: var(--white1);
}

#notification {
    top: 50%;
    left: 50%;
    height: auto;
    width: 20rem;
    z-index: 5;
    gap: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: fixed;
    border-radius: 20px;
    background: var(--white1);
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px var(--white1);
}
#notification i {
    font-size: 40px;
    color: #390386;
}
#notification p {
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    font-family: AdobeClean;
}
#notification div {
    display: flex;
    gap: 1rem;
}
#notification div button {
    height: 2rem;
    width: 8rem;
    font-family: AdobeClean;
    color: var(--dark0);
    border-radius: 15px;
    background: var(--white0);
}
#notification div button:active {
    background: #E0E0E0;
}


#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid red;
}
#header i {
    top: 10px;
    left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: var(--white1);
    position: absolute;
}
#header span {
    top: 10px;
    left: 50%;
    font-size: 17px;
    font-family: PoppinsSemiBold;
    cursor: pointer;
    color: var(--white1);
    position: absolute;
    transform: translateX(-50%);
}
#header p {
    bottom: 20px;
    left: 50%;
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-family: AdobeClean;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white1);
    position: absolute;
    border-radius: 20px;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.1);
}
#header video {
    height: 20rem;
    width: auto;
    mix-blend-mode: lighten;
}

#main {
    flex: 1;
    position: relative;
    //border: 1px solid red;
}

#footer {
    gap: 1rem;
    display: flex;
    padding: 10px;
    position: relative;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid
    rgba(255,255,255,0.1);
}
#footer textarea {
    height: 2.5rem;
    width: 100%;
    resize: none;
    padding: 0.8rem 3rem 0.8rem 0.8rem;
    color: var(--white1);
    border-radius: 1.5rem;
    background: rgba(255,255,255,0.1);
}
#footer textarea::placeholder {
    color: var(--white1);
}
#footer button {
    right: 10px;
    height: 2.5rem;
    width: 2.5rem;
    opacity: 0.5;
    font-size: 20px;
    cursor: pointer;
    font-family: AdobeClean;
    color: var(--white1);
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#3903AB, #390386);
}
#footer button i {
    transform: translate(-5%, 10%);
}

#overlay {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: none;
    position: fixed;
    background: rgba( 0, 0, 0, 0.6);
}