* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    font-size: 14px;
}


#main-body {
    background-image: url('backdrop.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    min-height: 100vh;
}


/* ____________________________________ */
/* Top Panel */


.top-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 0 0;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 20;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* Sidebar Toggle Button */
.sidebar-toggle {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    transition: color 0.3s ease;
}

/* Website Name */
.website-name {
    margin-left: 2.5rem;
    position: fixed;
    font-size: 1rem;
    font-weight: initial;
    display: flex;
    margin-right: 2rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
    font-weight: bolder;
}

/* Top Icons */
.top-icons {
    display: flex;
    gap: 1rem;
}

.top-icons i {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}
.top-icons noti {
  display: flex;
  position: absolute;
  z-index: 30;
  align-self: center;
  background-color: orangered;
  padding: 1px 2.5px 1px 2.5px;
  font-size: 5px;
  border-radius: 40px;
  margin-bottom: 1rem;
  
}

/* Overlay for Background Blur */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 10;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 20rem;
    height: auto;
    max-height: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    z-index: 15;
    border-radius: 1rem;
    overflow-y: auto;
}

.sidebar.open {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.sidebar ul {
    list-style: none;
    padding: 1.25rem;
}

.sidebar li {
    margin: 1.25rem 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    color: #00d4ff;
}

.sidebar i {
    margin-right: 0.9375rem;
    font-size: 1.5rem;
}
/* ____________________________________ */
/* Main Content */

.main-content {
    padding: 5rem 1.25rem;
    text-align: center;
    margin-top: 3.5rem; /* Space for the top panel */
}

/* ____________________________________ */

/* MAIN HOME */
/* MAIN HOME */

.home-hero {
    max-width: 50rem;
    margin: 0 auto;
}

.home-hero h1 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.home-hero p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.875rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.home-hero img {
    max-width: 100%;
    height: auto;
    border-radius: 0.925rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
}
.home-hero button {
    padding: 0.75rem;
    width: 100%;
    font-size: 1.125rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

/*.home-hero video{
    max-width: 100%;
    height: auto;
    border-radius: 0.925rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
}*/


/* ____________________________________ */

/* MAIN MESSAGE */
/* Message Section (for message.html) */

.message-section {
    max-width: 50rem;
    margin: 0 auto;
}

.message-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.message-section p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1.875rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}

.user-msgs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.user-msgs p {
  color: #fff;
  font-size: 1rem;
}


.user-msgs a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
.user-msgs a:hover {
    color: #00d4ff;
}


/* Placeholder Text Color for message section*/
.message-section input::placeholder,
.message-section textarea::placeholder {
    color: #fff;
    opacity: 1;
}
.message-section input::-webkit-placeholder,
.message-section textarea::-webkit-placeholder {
    color: #fff;
    opacity: 1;
}
.message-section input::-moz-placeholder,
.message-section textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.message-section input:-ms-input-placeholder,
.message-section textarea:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.message-section input,
.message-section textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    transition: background 0.3s ease;
}

.message-section input:focus,
.message-section textarea:focus {
    background: rgba(255, 255, 255, 0.3);
}

.message-section textarea {
    resize: vertical;
}

.message-section button {
    padding: 0.75rem;
    font-size: 1.125rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.message-section button:hover {
    background: rgba(255, 255, 255, 0.2);
}



/* ____________________________________ */
/* SUPPORT Section 


/* Support Section (for support.html) */
.support-section {
    max-width: 50rem;
    margin: 0 auto;
}

.support-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.support-section p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1.875rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}


.support-item {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.support-item:hover {
    transform: translateY(-0.25rem);
}

.support-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}

.support-item p {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}



/* ____________________________________ */
/* Services Section 


/* Services Section (for services.html) */
.services-section {
    max-width: 50rem;
    margin: 0 auto;
}

.services-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.services-section p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1.875rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}


.services-item {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.services-item:hover {
    transform: translateY(-0.25rem);
}

.services-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}

.services-item p {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}

.services-item img {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
}


/* ____________________________________ */
/* MAIN ADMIN DAVY SECTION 


/* Admin Section (for admin.html) */
.admin-section {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    text-align: center;
}

.admin-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.admin-section p {
    font-size: 1.0rem;
    line-height: 1.6;
    margin-bottom: 0.095rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}

#davyppimg {
  margin-top: 2.09rem;
  max-width: 100%;
    height: auto;
    border-radius: 4rem;
}
.admin-item img{
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}


.admin-item {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.admin-item:hover {
    transform: translateY(-0.25rem);
}

.admin-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}

.admin-item p {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}



/* ____________________________________ */
/* MAIN NOTIFICATIONS


/* Notification Section (for notify.html) */
.notify-section {
    max-width: 50rem;
    margin: 0 auto;
}

.notify-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

.notify-section p {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1.875rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}


.notify-item {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem 1.5rem 2.5rem 1.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.notify-item h2 {
  
}

.notify-item:hover {
    transform: translateY(-0.25rem);
}


.notify-item p {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
}

.notify-item button {
    padding: 0.75rem;
    width: 100%;
    font-size: 1.125rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}
.notify-item img {
  max-width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.3);
}




/* ____________________________________ */
/* Footer */

footer {
    background: (0, 0, 0, 0.7);
    padding: 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 2.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    
}
footer p a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

footer  a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}


/* ____________________________________ */
/* Responsive Design */

@media (max-width: 48rem) {
    .hero h1 {
        font-size: 2.25rem;
    }

    .hero p {
        font-size: 1.125rem;
    }

    .sidebar {
        width: 18rem;
    }

    .website-name {
        font-size: 1.5rem;
    }

    .top-icons i {
        font-size: 1.5rem;
    }
}