* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background: #777777;
  align-items: center;
  justify-content: center;
}
#console {
  height: 20rem;
  width: 85%;
  padding: 0.5rem;
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #BDBDBD;
  background: #212121;
  overflow-y: auto;
} 
#console p {
  color: #00E676;
  font-size: 13px;
  flex: 0 0 auto;
}


#control {
  height: 20rem;
  width: 100%;
  gap: 1rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
} 

#control button {
  height: 4rem;
  width: 95%;
  background: #E0E0E0;
  border-radius: 1rem;
  box-shadow: -1px 1px 5px #BDBDBD;
} #control button:active {
  background: #9E9E9E;
}